@import 'tailwindcss';

@config '../tailwind.config.ts';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 224 71.4% 4.1%;
		--card: 0 0% 100%;
		--card-foreground: 224 71.4% 4.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 224 71.4% 4.1%;
		--primary: 262.1 83.3% 57.8%;
		--primary-foreground: 210 20% 98%;
		--secondary: 220 14.3% 95.9%;
		--secondary-foreground: 220.9 39.3% 11%;
		--muted: 217.9 10.6% 64.9%;
		--muted-foreground: 220 8.9% 46.1%;
		--accent: 220 14.3% 95.9%;
		--accent-foreground: 220.9 39.3% 11%;
		--destructive: 0 72.22% 50.59%;
		--destructive-foreground: 210 20% 98%;
		--border: 220 13% 91%;
		--input: 220 13% 91%;
		--ring: 262.1 83.3% 57.8%;
		--radius: 0.3rem;

		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 262.1 83.3% 57.8%;

		--content-primary: 220 14.3% 95.9%;
		--content-secondary: 217.9 10.6% 64.9%;
	}
	.dark {
		--background: 221.1 71.4% 5.5%;
		--foreground: 240 7% 94%;
		--card: 221.1 71.4% 5.5%;
		--card-foreground: 240 7% 94%;
		--popover: 221.1 71.4% 5.5%;
		--popover-foreground: 240 7% 94%;
		--primary: 263.4 70% 50.4%;
		--primary-foreground: 240 7% 94%;
		--secondary: 215 27.9% 16.9%;
		--secondary-foreground: 240 7% 94%;
		--muted: 215 27.9% 16.9%;
		--muted-foreground: 217.9 10.6% 64.9%;
		--accent: 215 27.9% 21%;
		--accent-foreground: 240 7% 94%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 240 7% 94%;
		--border: 215 27.9% 16.9%;
		--input: 215 27.9% 16.9%;
		--ring: 263.4 70% 50.4%;

		/* hsl(221.05deg 32.2% 11.57%) */
		--sidebar-background: 221.1 32.2% 11.57%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 263.4 69.96% 50.39%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 221.1 31.65% 9.1%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 240 4.9% 83.9%;

		--content-primary: 222, 49%, 7%;
		--content-secondary: 222, 49%, 10%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
	html {
		overscroll-behavior: none;
	}
	/* Chrome, Edge and Safari */
	*::-webkit-scrollbar {
		height: 10px;
		width: 10px;
	}
	*::-webkit-scrollbar-track {
		background-color: rgba(0, 0, 0, 0);
	}

	*::-webkit-scrollbar-track:hover {
		background-color: rgba(0, 0, 0, 0);
	}

	*::-webkit-scrollbar-track:active {
		background-color: rgba(0, 0, 0, 0);
	}

	*::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background-color: rgba(109, 40, 217, 0.75);
	}

	*::-webkit-scrollbar-thumb:hover {
		background-color: rgba(109, 40, 217, 0.75);
	}

	*::-webkit-scrollbar-thumb:active {
		background-color: rgba(109, 40, 217, 0.75);
	}
}
